.table{
    margin-top: 20px;
    .status{
        padding: 5px;
        border-radius: 5px;
        &.Approved{
            color: green;
            background-color: rgba(0,128,0,0.151);
        }
        &.Pending{
            color: goldenrod;
            background-color: rgba(189,189,3,0.103);
        }
        &.Rejected{
            color: red;
            background-color: rgba(237, 118, 94, 0.103);
        }
    }
}